@import './variables/colors', './mixins/layoutMixin'

.container
  position: absolute
  background: $bkComp
  width: 100%
  bottom: 0
  align-self: flex-end
  z-index: 2
  +dFlex(center, center, column)

.svg_container
  width: 100%
  padding-top: .5em
  +dFlex()
.svg_link
  padding: .3em
  border-radius: 50%
  width: 2.2em
  height: 2.2em
  margin: 0 1em
  stroke-width: .07em
