@import './variables/colors'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;900&display=swap')

html, body
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
  height: auto
  width: auto
  font-size: 18px
  background: $bkDark
  color: $prim
  z-index: 1
  overflow-x: hidden

h1
  font-weight: bold

h3
  font-weight: 400

h5
  font-weight: lighter
a
  color: inherit

@media (max-width: 800px)
  html, body
    font-size: 16px

@media (max-width: 600px)
  html, body
    font-size: 14px

@media (max-width: 400px)
  html, body
    font-size: 10px