@import './mixins/layoutMixin', './variables/colors'

.container
  position: relative
  width: 100%
  height: 100%
  list-style: none
  +dFlex(flex-start, center, column)
  font-weight: lighter

.link
  position: relative
  font-size: 5em
  width: 100%
  padding: .8em
  user-select: none
  +dFlex()
  a
    text-decoration: none
    z-index: 1
    cursor: pointer
    color: inherit
    margin: 0
    padding: 0 .2em .2em .2em
    border-radius: .1em
.active__selector
  position: absolute
  width: 5em
  height: 50%
  box-sizing: border-box
  border: .05em solid
  border-color: inherit
  border-radius: .1em
  z-index: 2

.active
  cursor: default !important

.selector
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-width: 400px
  height: 60%
  // border: 5px solid $prim
  border-radius: 10px
  z-index: 1
