@import './mixins/layoutMixin', './variables/colors'

.container
  position: relative
  width: 100%
  height: 100%
  list-style: none
  font-weight: lighter
  margin: 2em 0 0 0
  padding: 0
  +dFlex(flex-start, center, column)

.link
  position: relative
  font-size: 5em
  width: 100%
  padding: .8em
  user-select: none
  +dFlex()
  a
    text-decoration: none
    z-index: 1
    cursor: pointer
    color: inherit
    margin: 0
    padding: 0 .2em .2em .2em
    border-radius: .1em
.active__selector
  position: absolute
  width: 5em
  height: 1.2em
  box-sizing: border-box
  border: .05em solid
  border-color: inherit
  top: .85em
  border-radius: .1em
  z-index: 2

.active
  cursor: default !important

.selector
  position: absolute
  width: 100%
  min-width: 400px
  height: 1.3em
  top: .8em
  // border: 5px solid $prim
  border-radius: 10px
  z-index: 1
