@import './mixins/layoutMixin', './variables/colors'

.container
  position: relative
  width: 100%
  height: 100%
  list-style: none
  +dFlex(flex-start, center, column)

.link
  position: relative
  font-size: 5rem
  width: 100%
  padding: 2rem
  user-select: none
  color: $bkSec
  +dFlex()
  a
    text-decoration: none
    z-index: 1
    cursor: pointer
    color: inherit
.selector
  position: absolute
  top: 25%
  width: 100%
  min-width: 400px
  height: 60%
  background: rgba($bkDark, 1)
  //border: 5px solid $Cream
  border-radius: 10px
  box-shadow: 0 0 5px rgba(0, 0, 0, .3)
  z-index: 1